+b.SECTION.main-block_video
    #video-bg.video-bg
    .video-img.js-img
    .content-block
        h2 Вставка полноэкранного видео на заставку сайта 
        p У такого эффекта на сайте, несомненно, есть свои минусы, но раз такая задача все равно возникает, не вижу причин не рассказать как такое устроить. 
        p Во-первых, чтобы создать должный эффект, необходимо подобрать видео: не слишком длинное, приемлемого качества и было бы не плохо, чтобы оно было зациклено по краям. 
        p Во-вторых, чтобы не видеть черный экран и прелоадер во время загрузки страницы и API, на месте фона помещаем изображение-скриншот первого кадра видео. Тогда создастся эффект «оживания» картинки.