+b.SECTION.main-block_video
    #video-bg.video-bg
    .content-block
        h2 Вставка полноэкранного видео на заставку сайта 
        p У такого эффекта на сайте несомненно есть свои минусы, но так как такая задача все равно возникает не вижу причин не рассказать как такое устроить.
        p Ну и для того, чтобы создать должный эффект для начала необходимо подобрать видео. Оно не должно быть слишком длинным, должно быть приемлимого качества и было бы не плохо, чтобы оно было зацикленно по краям. 