+b.SECTION.main-block
    .content-block
        h1 Профессиональная кирпичная компания Кирпич.РУ - № 1 в России 
        +b.white-block
            p предлагает
            ul
                li Облицовочный кирпич
                li Цветные кладочные смеси
        img.kirpich(src='images/big-kirpich.png', alt='Кирпич')
        +b.btn-style.js-order(data-from='Получить специальную цену')
            span получить специальную цену 