section.popups
    +b.popupoverlay.js-overlay
    +b.popup.js-popup
        +e.close.js-close
            hr
            hr
        +e.inner
            +b.FORM.form._center
                h2 Бесплатная консультация
                input(type='hidden', name='from', data-title="Заявка на", value='звонок', class='js-input-hidden')
                +b.input-wrap
                    input.required(type="text",name="name", placeholder="Ваше имя", data-title="Имя")
                +b.input-wrap
                    input.usermail.required(type="email",name="email", placeholder="E-mail",data-title="E-mail")
                +b.input-wrap
                    input.userphone.required(type="text",name="phone", placeholder="Телефон",data-title="Телефон")                
                +b.BUTTON.btn-style
                    span Отправить заявку
                +b.protection-info
                    p Нажимая на кнопку, вы даёте согласие на обработку персональных данных и соглашаетесь с 
                        a(href='protection.html', target='_blank') политикой конфиденциальности
    +b.popup.js-popup-leader
        +e.close.js-close
            hr
            hr
        +e.inner
            +b.FORM.form._center
                h2 Сравните цены и условия поставки
                input(type='hidden', name='from', data-title="Заявка на", value='звонок', class='js-input-hidden')
                +b.input-wrap
                    input.required(type="text",name="name", placeholder="Ваше имя", data-title="Имя")
                +b.input-wrap
                    input.userphone.required(type="text",name="phone", placeholder="Телефон",data-title="Телефон")                
                +b.BUTTON.btn-style
                    span Отправить вопрос
                +b.protection-info
                    p Нажимая на кнопку, вы даёте согласие на обработку персональных данных и соглашаетесь с 
                        a(href='protection.html', target='_blank') политикой конфиденциальности
    +b.popup_thx.js-thn
        +e.close.js-close
            hr
            hr
        +e.inner.form._center
            h2 Спасибо! Ваша заявка успешно отправлена!
            h4 Менеджер свяжется с Вами в течение 1 часа, в рабочее время.