.popups {
    overflow: hidden;

    .popupoverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba($black, 0.7);
        z-index: 990;
        display: none;
    }

    .popup, .popup-text, .popup-project {
        &__close {
            position: absolute;
            display: block;
            top: 0px;
            right: 20px;
            width: 100px;
            height: 100px;
            cursor: pointer;
            z-index: 1000;

            hr {
                transition: 0.5s linear;
                border: none;
                position: absolute;
                top: 50%;
                left: 50%;
                width: 38px;
                height: 2px;
                background-color: $black;
                transform: translate(-50%, -50%) rotate(-45deg);

                &:nth-child(1) {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }

            &:hover {
                hr {
                    transition: 0.5s linear;
                    transform: translate(-50%, -50%) rotate(45deg);

                    &:nth-child(1) {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
        }

        &__inner {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 960px;
            width: 100%;
            transform: translate(-50%, -50%);
            box-sizing: border-box;
            padding: 10px;
            will-change: auto;

            h2 {
                padding-bottom: 60px;
                max-width: 700px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        max-width: 960px;
        width: 100%;
        z-index: 991;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $white;
        min-height: 400px;

        .btn-style {
            max-width: 220px;
            text-align: center;
            display: block;
            margin: 30px auto 10px;
        }

        &_thx {
            .form {
                padding-top: 200px;
                padding-bottom: 200px;
                max-width: 920px;
                width: 100%;

                h2 {
                    padding-bottom: 60px;
                }

                h3 {
                    max-width: 600px;
                    margin-right: auto;
                    margin-left: auto;
                }
            }
        }
    }
}