include ../../node_modules/bemto.pug/bemto

include mixins/head.pug
include mixins/mixins.pug
doctype html
block variables
    -var homepage
html(lang='ru')
    +head('YouTube API Tutorial')
    body
        .content
            block content
        script(src="js/bundle.js")